<div class="row mt-5">
  <div class="col-4" style="margin: 0 auto;">
    <form action="/" method="GET">
      <select class="form-control" name="category" onchange="this.form.submit()">
        <option disabled>類別選擇</option>
        <option value="顯示全部" {{#ifEquals option '顯示全部' }}selected{{/ifEquals}}>顯示全部類別</option>
        <option value="家居物業" {{#ifEquals option '家居物業' }}selected{{/ifEquals}}>家居物業</option>
        <option value="交通出行" {{#ifEquals option '交通出行' }}selected{{/ifEquals}}>交通出行</option>
        <option value="休閒娛樂" {{#ifEquals option '休閒娛樂' }}selected{{/ifEquals}}>休閒娛樂</option>
        <option value="餐飲食品" {{#ifEquals option '餐飲食品' }}selected{{/ifEquals}}>餐飲食品</option>
        <option value="其他" {{#ifEquals option '其他' }}selected{{/ifEquals}}>其他</option>
      </select>
    </form>
  </div>
</div>
<div class="row mt-5">
  <div class="col-4 d-flex justify-content-around" style="margin: 0 auto;">
    <h3 class="mr-5 total-amount-title">總金額:</h3>
    <h1 class="total-amount">{{totalAmount}}</h1>
  </div>
</div>
</div>
<div class="row mt-3">
  <div class="col-4" style="margin: 0 auto;">
    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <div class="d-flex" style="width: 20vw; height: 10vh;">
            <div class="icon">
              <i class="{{this.icon.icon}}"></i>
            </div>
            <div>
              <h2>{{this.name}}</h2>
              <h5>{{this.date}}</h5>
            </div>
          </div>
          <h3>{{this.amount}}</h3>
          <div class="d-flex justify-content-between">
            <a href="/record/edit/{{this._id}}">
              <button type="button" class="btn btn-outline-dark mr-2">修改</button>
            </a>
            <button type="submit" class="btn btn-outline-dark" data-toggle="modal"
              data-target="#delete-modal-{{this._id}}">刪除</button>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="row mt-5">
  <div class="col-3 d-flex justify-content-center" style="margin: 0 auto;">
    <a href="/record/new">
      <button type="button" class="btn-send btn-lg">新增支出</button>
    </a>
  </div>
</div>


{{!-- delete modal --}}
{{#each records}}
<div class="modal fade" id="delete-modal-{{this._id}}" data-backdrop="static" tabindex="-1" data-keyboard="false"
  aria-labelledby="delete-modal-{{this._id}}-Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        要刪除 <strong>{{this.name}}</strong> 嗎？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">取消</button>
        <form action="/record/delete/{{this._id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">確認刪除</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}