<div class="row mt-5">
  <div class="col-6" style="margin: 0 auto;">
    <form action="/" method="GET">
      <div class="row d-flex justify-content-center">
        <div class="col-5">
          <select class="form-control" name="category" onchange="this.form.submit()">
            <option disabled>類別選擇</option>
            <option value="顯示全部" {{#ifEquals categoryOption '顯示全部' }}selected{{/ifEquals}}>顯示全部類別</option>
            <option value="家居物業" {{#ifEquals categoryOption '家居物業' }}selected{{/ifEquals}}>家居物業</option>
            <option value="交通出行" {{#ifEquals categoryOption '交通出行' }}selected{{/ifEquals}}>交通出行</option>
            <option value="休閒娛樂" {{#ifEquals categoryOption '休閒娛樂' }}selected{{/ifEquals}}>休閒娛樂</option>
            <option value="餐飲食品" {{#ifEquals categoryOption '餐飲食品' }}selected{{/ifEquals}}>餐飲食品</option>
            <option value="其他" {{#ifEquals categoryOption '其他' }}selected{{/ifEquals}}>其他</option>
          </select>
        </div>
        <div class="col-5">
          <select class="form-control" name="month" onchange="this.form.submit()">
            <option disabled>月份選擇</option>
            {{!-- 此處想詢問助教為何無法記憶選項 --}}
            {{!-- {{#each months}}
            <option value="{{this.id}}" {{#ifEquals monthOption '{{this.id}}' }}selected{{/ifEquals}}>{{this.name}}
            </option>
            {{/each}} --}}

            {{!-- 上面的程式不能記憶選項，因此採用手工 --}}
            <option value="all" {{#ifEquals monthOption 'all' }}selected{{/ifEquals}}>顯示全部月份</option>
            <option value="1" {{#ifEquals monthOption '1' }}selected{{/ifEquals}}>1月份</option>
            <option value="2" {{#ifEquals monthOption '2' }}selected{{/ifEquals}}>2月份</option>
            <option value="3" {{#ifEquals monthOption '3' }}selected{{/ifEquals}}>3月份</option>
            <option value="4" {{#ifEquals monthOption '4' }}selected{{/ifEquals}}>4月份</option>
            <option value="5" {{#ifEquals monthOption '5' }}selected{{/ifEquals}}>5月份</option>
            <option value="6" {{#ifEquals monthOption '6' }}selected{{/ifEquals}}>6月份</option>
            <option value="7" {{#ifEquals monthOption '7' }}selected{{/ifEquals}}>7月份</option>
            <option value="8" {{#ifEquals monthOption '8' }}selected{{/ifEquals}}>8月份</option>
            <option value="9" {{#ifEquals monthOption '9' }}selected{{/ifEquals}}>9月份</option>
            <option value="10" {{#ifEquals monthOption '10' }}selected{{/ifEquals}}>10月份</option>
            <option value="11" {{#ifEquals monthOption '11' }}selected{{/ifEquals}}>11月份</option>
            <option value="12" {{#ifEquals monthOption '12' }}selected{{/ifEquals}}>12月份</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row mt-5">
  <div class="col-6 d-flex justify-content-around" style="margin: 0 auto;">
    <h3 class="mr-5 total-amount-title">總金額:</h3>
    <h1 class="total-amount">{{totalAmount}}</h1>
  </div>
</div>
</div>
<div class="row mt-3">
  <div class="col-6" style="margin: 0 auto;">
    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <div class="d-flex" style="width: 30vw; height: 75px;">
            <div class="icon">
              <i class="{{this.icon.icon}}"></i>
            </div>
            <div>
              <h2 class="list-title">{{this.name}}</h2>
              <h5>{{this.date}}</h5>
            </div>
          </div>
          <h3>{{this.amount}}</h3>
          <div class="d-flex justify-content-between">
            <a href="/record/edit/{{this._id}}">
              <button type="button" class="btn btn-outline-dark ml-2">修改</button>
            </a>
            <div>
              <button type="submit" class="btn btn-outline-dark ml-2" data-toggle="modal"
                data-target="#delete-modal-{{this._id}}">刪除</button>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="row mt-4">
  <div class="col-3 d-flex justify-content-center" style="margin: 0 auto;">
    <a href="/record/new">
      <button type="button" class="btn-send btn-lg">新增支出</button>
    </a>
  </div>
</div>


{{!-- delete modal --}}
{{#each records}}
<div class="modal fade" id="delete-modal-{{this._id}}" data-backdrop="static" tabindex="-1" data-keyboard="false"
  aria-labelledby="delete-modal-{{this._id}}-Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        要刪除 <strong>{{this.name}}</strong> 嗎？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">取消</button>
        <form action="/record/delete/{{this._id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">確認刪除</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}